.normal-button {
    text-decoration: none;
    border-radius: 40%;
    margin: 1rem;
}
.normal-button:hover {
    background-color: #00000033;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }